enable
configure terminal
hostname SW1

! Port vers PC1
interface FastEthernet0/1
 switchport mode access

! Port vers Serveur 1
interface FastEthernet0/2
 switchport mode access

! Port vers R1
interface FastEthernet0/24
 switchport mode access

! Lien vers SW2
interface FastEthernet0/23
 switchport mode access

end
write memory