enable
configure terminal
hostname SW2

! Port vers PC2
interface FastEthernet0/1
 switchport mode access
 no shutdown
exit

! Port vers Serveur 2
interface FastEthernet0/2
 switchport mode access
 no shutdown
exit

! Port vers R1
interface FastEthernet0/24
 switchport mode access
 no shutdown
exit

! Lien vers SW1
interface FastEthernet0/23
 switchport mode access
 no shutdown
exit
end
write memory
